@model IEnumerable<SSMI.Models.StockGroupMasterNew>
@{
    ViewBag.Title = "Item Group Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>  @ViewBag.Title <div class="clearfix"> </div></h3>
        </div>
        <div class="panel-body">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Parent</th>
                        <th>HSN Code</th>
                        <th>HSN Description</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>IGST</th>
                        <th>Sync Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td>@row.StockGroupName</td>
                            <td>@row.StockGroupParent</td>
                            <td>@row.HSNCode</td>
                            <td>@row.HSNDescription</td>
                            <td>@row.CgstExprn</td>
                            <td>@row.SgstExprn</td>
                            <td>@row.IgstExprn</td>
                            <td>
                                @if (row.MDispStatus == 1)
                                {
                                    <span class="label label-success">Synced</span>
                                }
                                else
                                {
                                    <span class="label" style="background-color: orange; color: #fff;">Not Synced</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                stateSave: true,
                "language": {
                    "lengthMenu": '_MENU_ rows',
                    "search": '<i class="fa fa-search"></i>',
                    "searchPlaceholder": "search",
                    "paginate": {
                        "previous": '<i class="fa fa-angle-left"></i>',
                        "next": '<i class="fa fa-angle-right"></i>'
                    }
                }
            });
        });
    </script>
}
