@{
    ViewBag.Title = "Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="panel-title">
                <i class="fa fa-bar-chart-o fa-fw"></i>  @ViewBag.Title
                <a class="btn btn-success btn-sm pull-right hide" style="padding:3px;margin:0 0 10px" href="@Url.Action("Form", "Invoice")"><i class="fa fa-plus-square "></i> Add New </a> <div class="clearfix"> </div>
            </h3>

        </div>


        <div class="col-lg-12" style="margin-top:10px">
            <div class="alert alert-info  center-block " style="text-align:center">

                <form action="#" method="post" accept-charset="utf-8" id="exportcartingorderform" data-ng-controller="myController" name="exportcartingorderform">
                    <input type="text" value="@System.Web.HttpContext.Current.Session["Group"]" id="F_KUSRID" class="hidden" />
                    <label for="from">From</label>
                    <input type="text" id="from" name="from" value="@System.Web.HttpContext.Current.Session["SDATE"]">
                    <label for="to">to</label>
                    <input type="text" id="to" name="to" value="@System.Web.HttpContext.Current.Session["EDATE"]">
                    <input type="submit" name="submit" value="Search" class="btn btn-danger btn-sm" />
                </form>

            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" ">
                        <div class="panel-body">

                            <table id="example" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Order No</th>
                                        <th>Party Name</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>ID</th>
                                        <th>Edit / Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Date</th>
                                        <th>Order No</th>
                                        <th>Party Name</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>ID</th>
                                        <th>Edit / Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="salesOrderDetailsModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content clearfix" id="salesOrderDetailsModalContent">
        </div>
    </div>
</div>


@section Scripts {



    <script type="text/javascript" class="init">



var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {

table=$('#example').DataTable( {
    ajax: "@Url.Action("GetAjaxData", "SalesOrder")",
        "order": [[6, "desc"]],
        stateSave: true,
        "language": {
            "lengthMenu": '_MENU_ rows',
            "search": '<i class="fa fa-search"></i>',
            "searchPlaceholder": "search",
            "paginate": {
                "previous": '<i class="fa fa-angle-left"></i>',
                "next": '<i class="fa fa-angle-right"></i>'
            }
        },
		columns: [
            { data: "VoucherDate" },
            { data: "VoucherNumber" },
            { data: "PartyName" },
            { data: "TotalAmount" },
            {
                data: "DispStatus",
                mRender: function (data, type, row) {
                    if (row["SyncStatus"] == 1) {
                        return '<span class="label label-success">Synced</span>';
                    }
                    return '<span class="label" style="background-color: orange; color: #fff;">Not Synced</span>';
                }
            },
            { data: "VoucherId", "visible": false },
			{

                mRender: function (data, type, row) {
                    return '<a href="#" class="btn btn-info btn-sm so-view" data-id="' + row["VoucherId"] + '">View</a>'
			    }
			}
		]
    });


//alert("4");

            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });





    $(document).on('click', 'a.so-view', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        $('#salesOrderDetailsModalContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Sales Order Details</h4></div><div class="modal-body">Loading...</div>');
        $('#salesOrderDetailsModal').modal('show');
        $('#salesOrderDetailsModalContent').load('@Url.Action("Details", "SalesOrder")' + '?id=' + encodeURIComponent(id));
    });




    //alert("5");
    //..........delete function
    //      $(document).on("click", "a.editor_remove", function () {

    //          var r = confirm("Are you sure to delete this record ?");

    //          if (r == true) {


    //              var idx = $(this).attr('id');

    //              base = window.location.origin;



    //              $.post(base + "/Invoice/Del",
    //{
    //    id: idx, fld: "Invoice"
    //},
    //function (data, status) {

    //    alert(data);

    //    if (data == "Deleted Successfully ...")
    //        location.replace(base + "/Invoice/Index");


    //});

    //          }

    //          return false;


    //      });//.......end





} );







    </script>

}


