@model IEnumerable<SSMI.Models.MenuNavbar>

@*<link href="~/Content/nifty.css" rel="stylesheet" />*@
@*<link href="~/Content/nifty.min.css" rel="stylesheet" />*@
<style>
    .form-css 
    {
        display: block;
        padding: 15px;
        position: relative;
    }

.dropdown-menu .divider {
  background-color: #000;
}

/*#test .dropdown-menu {
          display: block;

}*/

  #test .dropdown-header {
    background-color: #4c8eea ;
    color:#ffffff;
    padding: 7px 25px;
  }

    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img 
    {
        display: block;
        width: 100% \9;
        max-width: 100%;
        height: auto;
        padding-top:30px;
    }

.dropdown:hover .dropdown-menu {
                    display: block;

                }   
                /*.dropdown .dropdown-menu{
                    display: none;
                }*/

     



            /*.navbar-default{
                background: none;
                padding: 0px;
                border-width: 0px 0px 5px 0px;
                border-color: #009431;
                border-radius: 0px;                
            }*/

            .dropdown-toggle:hover{               
                color: #FFFFFF;
            }


            /*.dropdown-menu {
                min-width: 200px;
            }*/
            .dropdown-menu.columns-2{
                min-width: 500px;
            }
            /*.dropdown-menu.columns-3 {
                min-width: 600px;
            }*/
            .dropdown-menu li a {
                padding: 7px 25px;
                font-weight: 300;
                min-width: 500px;
            }
            .multi-column-dropdown {
                list-style: none;
            }
            .multi-column-dropdown li a {
                display: block;
                clear: both;
                line-height: 1.428571429;
                color: #333;
                white-space: normal;
            }
            .multi-column-dropdown li a:hover {
                text-decoration: none;
                color: #262626;
                background-color: #f5f5f5;
            }
            /*.navbar-nav > li > .dropdown-menu{
                margin-top: 3px;
            }
            .navbar-default .navbar-nav > li > a {
                color: #777;               
                padding-top: 15px;
                padding-bottom: 19px;
                margin-bottom: -4px;
            }*/

</style>

 <!-- Navigation -->
<nav class="navbar navbar-inverse"    role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      
        <img src="~/Content/images/logo-small.png"  class="img img-responsive" />
    </div>


   

    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">

    
        @if ((Request.IsAuthenticated))
        {
            if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Manager" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin")
            {

                <li id="test" class="dropdown multi-column">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-automobile"></i> Masters <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-2">
                        <li>
                            <ul class="multi-column-dropdown col-sm-6">
                                <li class="dropdown-header">General</li>
                                <li>
                                    <a href="@Url.Action("Index", "CompanyMaster")"><i class="fa fa-fw fa-instagram"></i> Company Master</a>
                                </li>
                                @if (User.IsInRole("ItemGroupMasterIndex"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "ItemGroupMaster")"><i class="fa fa-fw fa-gear"></i> Item Group Master</a>
                                    </li>
                                }
                                @if (User.IsInRole("ItemMasterIndex"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "ItemMaster")"><i class="fa fa-fw fa-bullseye"></i> Item Master</a>
                                    </li>
                                }
                                @if (User.IsInRole("UnitMasterIndex"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "UnitMaster")"><i class="fa fa-fw fa-magnet"></i> Unit Master</a>
                                    </li>
                                }
                                @if (User.IsInRole("CustomerMasterIndex"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "CustomerMaster")"><i class="glyphicon glyphicon-user"></i> Customer Master</a>
                                    </li>
                                }
                                @*<li>
                                    <a href="@Url.Action("Index", "BranchMaster")"><i class="glyphicon glyphicon-leaf"></i> Branch Master</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "DesginationMaster")"><i class="fa fa-fw fa-suitcase"></i> Desgination</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "DepartmentMaster")"><i class="fa fa-fw fa-adn"></i> Department</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "CostfactorMaster")"><i class="fa fa-fw fa-gears"></i> Costfactor</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "CategoryMaster")"><i class="fa fa-fw fa-rupee"></i> Category Master</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "HSNCodeMaster")"><i class="fa fa-fw fa-random"></i> HSN Code</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("Index", "CustomerMaster")"><i class="glyphicon glyphicon-user"></i> Customer Master</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SupplierMaster")"><i class="glyphicon glyphicon-user"></i> Supplier Master</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "EmployeeMaster")"><i class="glyphicon glyphicon-user"></i> Salesman Master</a>
                                </li>*@
                            </ul>
                        </li>
                        @*<li>
                            <ul class="multi-column-dropdown col-sm-6">
                                <li class="dropdown-header">Others</li>
                                <li>
                                    <a href="@Url.Action("Index", "LocationMaster")"><i class="fa fa-fw fa-coffee"></i> Location Master</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "StateMaster")"><i class="fa fa-fw fa-gear"></i> State Master</a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="hide">
                            <ul class="multi-column-dropdown col-sm-6">
                                <li class="dropdown-header">Item Details</li>
                                <li>
                                    <a href="@Url.Action("Index", "UnitMaster")"><i class="fa fa-fw fa-magnet"></i> Unit</a>
                                </li>
                                @*<li>
                                    <a href="@Url.Action("Index", "MaterialType")"><i class="fa fa-fw fa-bullseye"></i> Material Type</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "MaterialGroupMaster")"><i class="fa fa-fw fa-gear"></i> Material Group</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "MaterialMaster")"><i class="fa fa-fw fa-bullseye"></i> Material</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RateCardMaster")"><i class="glyphicon glyphicon-gbp"></i> Rate Card</a>
                                </li>*@
                            </ul>
                        </li>
                    </ul>
                </li>

            }
            else
            {
                if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Purchaseadmin" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Stores")
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-automobile"></i> Masters<b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            @foreach (var item in Model)
                           {
                                if (item.MenuGIndex == 1)
                                 {
                                    <li class="@item.activeli">
                                        <a href="@Url.Action(item.ActionName, item.ControllerName)"><i class="@item.imageClass"></i> @item.LinkText</a>
                                    </li>
                                }

                            }
                        </ul>



                    </li>
                }
            }
        }

        @if (Request.IsAuthenticated)
        {
            if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Manager" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin")
            {
                <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullseye"></i> Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <!--<li>
                            <a href="@Url.Action("Index", "QuotationRpt")">Quotation--> @*<span class="label label-default">Report</span>*@<!--</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "PurchaseOrderRpt")">Purchase Order-->@*<span class="label label-primary">Report</span>*@<!--</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "PurchaseInvoiceRpt")">Goods Receipt Note-->@*<span class="label label-success">Report</span>*@<!--</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "BranchClientOrderRpt")">Client Order--> @*<span class="label label-warning">Report</span>*@<!--</a>
                        </li>-->
                        <li>
                            <a href="@Url.Action("Index", "SalesInvoiceRpt")">Sales Invoice @*<span class="label label-warning">Report</span>*@</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullseye"></i> Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        @foreach (var item in Model)
                        {
                            if (item.MenuGIndex == 33)
                            {
                                <li class="@item.activeli">
                                    <a href="@Url.Action(item.ActionName, item.ControllerName)"><i class="@item.imageClass"></i> @item.LinkText</a>
                                </li>
                            }

                        }
                    </ul>
                </li>
            }
        }


        @if (Request.IsAuthenticated)
        {
            if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Manager" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Purchaseadmin")
               {
                    <li class="dropdown">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))
                    {
                        @Html.AntiForgeryToken()           
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Groups")"><i class="fa fa-fw fa-user"></i> Groups</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Account")"><i class="fa fa-fw fa-envelope"></i> Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Roles")"><i class="fa fa-fw fa-gear"></i> Roles</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    }
                </li>
            }
            else
            {
                <li class="dropdown">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("CIndex", "Account")"><i class="fa fa-fw fa-envelope"></i> Users</a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    }
                </li>
            }
        }
        else
        {
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
      
    </ul>
    
    <!--ddddddddddd-->
    @if (Request.IsAuthenticated)
    {
        if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Manager" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin")
        {
            <ul class="nav navbar-left top-nav">

                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>


            </ul>
        }

    }
    <!--ddddddddddd-->

    @if (Request.IsAuthenticated)
    {
        if (System.Web.HttpContext.Current.Session["Group"].ToString() == "Manager" || System.Web.HttpContext.Current.Session["Group"].ToString() == "Admin")
        {
<ul class="nav navbar-left top-nav">
    <li class="dropdown-toggle hidden">
        <a href="@Url.Action("Index", "Expenses")"><i class="fa fa-apple"></i> Opening</a>
    </li>


    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder-open"></i> Head Office <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "MainStoreOpening")"><i class="fa fa-fw fa-bookmark"></i> Opening</a>
            </li>
            <li class="hide">
                <a href="@Url.Action("Index", "MaterialRequest")"><i class="fa fa-fw fa-bank"></i> Material Request</a>
            </li>
            <li class="hide">
                <a href="@Url.Action("Index", "SupplierQuotation")"><i class="fa fa-fw fa-bitbucket"></i> Supplier Quotation</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PurchaseOrder")"><i class="fa fa-fw fa-chain"></i> Purchase Order</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "GoodsReceiptNote")"><i class="fa fa-fw fa-automobile"></i> Goods Receipt Note</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PurchaseInvoice")"><i class="fa fa-fw fa-automobile"></i> Purchase Invoice</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "HOSalesInvoice")"><i class="fa fa-fw fa-automobile"></i> Sales Invoice</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PurchaseReturn")"><i class="fa fa-fw fa-book"></i> Purchase Return</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MainStoreStockView")"><i class="fa fa-fw fa-bullhorn"></i> Stock view</a>
            </li>
        </ul>
    </li>

    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building"></i> Branch <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "BranchStoreOpening")"><i class="fa fa-fw fa-bitbucket"></i> Opening</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BranchPurchaseInvoice")"><i class="fa fa-fw fa-pencil-square"></i> Purchase Invoice</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Quotation")"><i class="fa fa-fw fa-bank"></i> Quotation</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BranchClientOrder")"><i class="fa fa-fw fa-briefcase"></i> Client Order</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BranchSalesInvoice")"><i class="fa fa-fw fa-stumbleupon"></i> Invoice</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BranchTransfer")"><i class="fa fa-fw fa-cog"></i> Branch Transfer</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BranchStoreStockView")"><i class="fa fa-fw fa-bitbucket"></i> Stock View</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("Index", "BranchEInvoice")"><i class="fa fa-fw fa-bullhorn"></i> E-Invoice</a>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-briefcase"></i> Transaction <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @if (User.IsInRole("SalesOrderIndex"))
            {
                <li>
                    <a href="@Url.Action("Index", "SalesOrder")"><i class="fa fa-fw fa-bitbucket"></i> Sales Order</a>
                </li>
            }
            @if (User.IsInRole("SalesOrderPreClosed"))
            {
                <li>
                    <a href="@Url.Action("Index", "SalesOrderPC")"><i class="fa fa-fw fa-check-circle"></i> Sales Order (Pre-Closed)</a>
                </li>
            }
            @if (User.IsInRole("SalesInvoiceIndex"))
            {
                <li>
                    <a href="@Url.Action("Index", "SalesInvoice")"><i class="fa fa-fw fa-stumbleupon"></i> Sales Invoice</a>
                </li>
            }
            <li class="hide">
                <a href="@Url.Action("Index", "ClassifiedsEInvoice")"><i class="fa fa-fw fa-bitbucket"></i> Classifieds</a>
            </li>
        </ul>
    </li>


    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tower"></i> Production <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @*<li>
                    <a href="@Url.Action("Index", "MainStoreOpening")"><i class="fa fa-fw fa-bank"></i> Work Order</a>
                </li>*@
            <li>
                <a href="@Url.Action("Index", "MaterialOrder")"><i class="fa fa-fw fa-bitbucket"></i> Material Order</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ReportProduction")"><i class="fa fa-fw fa-automobile"></i> Report Production</a>
            </li>
        </ul>
    </li>

    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-certificate"></i> Stores <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "StoresGRN")"><i class="fa fa-fw fa-bank"></i> Goods Receipt Note</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "IRF")"><i class="fa fa-fw fa-bitbucket"></i> IRF</a>
            </li>
            @*<li>
                    <a href="@Url.Action("Index", "ReportProduction")"><i class="fa fa-fw fa-automobile"></i> Report Production</a>
                </li>*@
        </ul>
    </li>

    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building"></i> Service <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "ServiceReport")"><i class="fa fa-fw fa-bank"></i> Service Report</a>
            </li>
        </ul>
    </li>

    <li class="dropdown hide">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building"></i> Business Plan <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "DealerTargetPlan")"><i class="fa fa-fw fa-bullseye"></i> Dealer Target / Actuals </a>
            </li>
        </ul>
        
    </li>


</ul>
        }
        else
        {
<ul class="nav navbar-left top-nav">

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-life-bouy"></i> Branch <b class="caret"></b></a>
        <ul class="dropdown-menu">

            @foreach (var item in Model)
            {
                if (item.MenuGIndex == 7)
                {
                    <li class="@item.activeli">
                        <a href="@Url.Action(item.ActionName, item.ControllerName)"><i class="@item.imageClass"></i> @item.LinkText</a>
                    </li>
                }

            }
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-life-bouy"></i> Business Plan <b class="caret"></b></a>
        <ul class="dropdown-menu">

            @foreach (var item in Model)
            {
                if (item.MenuGIndex == 8)
                {
                    <li class="@item.activeli">
                        <a href="@Url.Action(item.ActionName, item.ControllerName)"><i class="@item.imageClass"></i> @item.LinkText</a>
                    </li>
                }

            }
        </ul>
    </li>


</ul>
        }
    }


   @*<div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            @foreach (var item in Model)
            {
                if (item.MenuGId == 11)
                {

                }
                  <li class="@item.activeli">
                    <a href="@Url.Action(item.action, item.ControllerName)"><i class="@item.imageClass"></i> @item.LinkText</a>
                </li>
            }
        </ul>
    </div>*@
        
    <!-- /.navbar-collapse -->


</nav>




